.card {

}

.card__title {

}

.card__title--red {
    color: red;
}

.card__description {

}

.card__price {

}

.btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px 10px;
}

.btn--medium {
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 10px;
}

.btn--small {
    padding: 5px 2.5px;
    border-radius: 5px;
    font-size: 8px;
}