.container p {
    border: 2px solid red;
    background: blueviolet;
    color: white;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px 20px;
}

.item1{
    grid-row-start: span 3;
    grid-column-start: span 2;
}