.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-field {
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
}

.field {
    font-size: 70px;
    border: 4px solid black;
    text-align: center;
    width: 90px;
    height: 90px;
}