body {
    margin: 0;
}

.banner {
    background-color: azure;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: "Playwrite MX", cursive;
    }
    &__subtitle {
        font-family: "LXGW WenKai TC", cursive;
        font-size: 24px;
        text-align: center;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    & > h2 {
        font-family: "LXGW WenKai TC", cursive;
        font-size: 44px;
    }
}

.products__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product__container {
    padding: 50px 40px;
    background-color: aliceblue;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    & > h2, & > h3 {
        font-family: "LXGW WenKai TC", cursive;
    }
}