.header {
    padding: 30px 40px;

    display: flex;
    justify-content: space-between;

    background-color: #FFFFFF;
    &__logo {

    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__theme {

    }

    &__button-menu {
        display: none;
    }
}


@media screen and (max-width: 400px) {
    .header {
        &__button-menu {
            display: block;
        }
    }
}