.menu {
    display: flex;
    gap: 20px;
    &__link {
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        color: #000000;
        transition: 0.2s color;

        &:hover {
            transition: 0.2s color;
            color: #80C4D3;
        }
        &--active {
            font-weight: 600;
        }
    }

    &--mobile {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex !important;
        flex-direction: column;

        left: 0;
        top: 100px;
        background-color: #FFFFFF;

        .menu__link {
            padding: 30px 20px;
            border-bottom: 2px solid grey;
        }
    }
}

@media screen and (max-width: 730px) {
    .menu {
        display: none;
    }
}